@tailwind base;

a,
button,
input {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}
button:focus {
  outline: 0;
}

@tailwind components;

@tailwind utilities;
